.sign-up-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2vw;


    .img {
        width: 40%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        width: 40%;

        @media (max-width: 768px) {
            width: 90%;
        }

        .signup-nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-color);
            font-weight: 500;
            background-color: transparent;
            border-radius: 3rem;
            border: 1px double var(--secondary-color);
            margin-bottom: 1rem;

            .signin {
                background-color: var(--bg);
                padding: 1rem;
            }

            .signin,
            .signup {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                height: 100%;
            }

            .signup {
                background-color: var(--secondary-color);
                padding: 1rem;
            }
        }

        .form-grp {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            font-weight: 500;
            background-color: transparent;
            border-radius: 3rem;
            position: relative;


            input {
                width: 100%;
                height: 3.7rem;
                line-height: 1.6rem;
                outline: none;
                padding-left: 3rem;
                padding-right: 2rem;
                color: var(--text-color);
                border: 0.040rem solid var(--secondary-color);
                border-radius: 3rem;
                margin: .6rem 0;
                transition: .5s ease;
                background-color: var(--bg);


                &::placeholder {
                    color: var(--text-color);
                }

                &:focus,
                &:hover {
                    outline: none;
                    border-color: var(--secondary-color);
                    box-shadow: 0 0 0 .3rem var(--secondary-color);
                }
            }

            .signup-icon {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: 1rem;
                fill: none;
            }
        }

        .signup-btn {
            width: 100%;
            height: 3.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: var(--secondary-color);
            border: 0.2rem double var(--bg);
            border-radius: 3rem;
            margin: 1rem 0;
        }

        .alternative {
            width: 100%;
            text-align: center;
            font-weight: 600;
            margin: .4rem 0;
        }

        .signup-google {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            background-color: var(--secondary-color);
            font-weight: 400;
            border: none;
            border-radius: 3rem;
            width: 50%;
            cursor: pointer;
            margin: auto;


        }
    }
}
