.highlights-section {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);

  div {
    @media (max-width: 768px) {
      width: 100%;
      padding: 1rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
