.new-main-section {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: var(--shade);
    padding: 1rem 2rem;
    gap: 2rem;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--shade);

    @media (max-width: 768px) {
        width: 100%;
        height: 88%;
    }


    .transaction-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        width: 100%;
        background-color: var(--bg);
      
        h3 {
          margin-bottom: 1rem;
          color: #333;
        }
      
        select, input, button, textarea {
          padding: 0.5rem;
          border: 1px solid var(--secondary-color);
          border-radius: 4px;
          background-color: transparent;
          color: var(--text-color);
          height: 3rem;
        }

        select {
          background-color: var(--bg);
        }
      
        button {
          background-color: var(--primary-color);
          color: #fff;
          cursor: pointer;
          transition: background 0.3s;
      
          &:hover {
            background-color: var(--secondary-color);
          }
        }
      }
      
}