.HeroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0 10%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        padding: 0 2%;
        margin-right: 2%;
        gap: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0;
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            background-color: var(--primary-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }

    .hero-img-div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}
