.forgottenPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 2rem;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid var(--shade);
        border-radius: 5px;
        background-color: transparent;
        color: var(--text-color);
    }

    button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--text-color);
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--primary-color-dark);
        }
    }

    .remembered-password {
        margin-top: 10px;
        color: var(--text-color);

        a {
            color: var(--primary-color);
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: var(--primary-color-dark);
            }
        }
    }
  }
}