.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .img {
        width: 40%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }


    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;

        @media (max-width: 768px) {
            width: 90%;
        }


        .login-nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--secondary-color);
            border-radius: 30px;
            margin: 1rem;

            .signup,
            .login {
                display: flex;
                justify-content: center;
                width: 50%;
                align-items: center;
                padding: 1rem;
                border-radius: 30px;
            }

            .login {
                background-color: var(--secondary-color);
            }
        }

        .form-grp {
            display: flex;
            position: relative;
            width: 100%;
            border-radius: 30px;
            align-items: center;
            justify-content: center;


            input {
                width: 100%;
                height: 3.7rem;
                background-color: var(--bg);
                outline: none;
                padding-left: 3rem;
                border-radius: 30px;
                border: 1px solid var(--secondary-color);
                margin: .6rem 0;
                transition: all .5s ease;

                &::placeholder {
                    color: var(--text-color);
                }

                &:focus,
                &:hover {
                    outline: none;
                    border-color: var(--secondary-color);
                    box-shadow: 0 0 0 .3rem var(--secondary-color);
                }
            }


            .icons {
                position: absolute;
                border: 1px solid var(--secondary-color);
                width: 1.5rem;
                height: 1.5rem;
                left: 1rem;
                border: none;
            }
        }


        .login-btn {
            width: 100%;
            background-color: var(--secondary-color);
            border: 0.3rem double var(--bg);
            height: 3.7rem;
            border-radius: 30px;
            margin: 1rem 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .alternative {
            width: 100%;
            text-align: center;
            font-weight: 600;
            margin: .4rem 0;
        }

        .login-google {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            border: none;
            outline: none;
            border-radius: 30px;
            background-color: var(--secondary-color);
            cursor: pointer;
            font-weight: 400;
        }
    }
}
