.call-to-action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--primary-color);
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-top: 2rem;


    .left {
        width: 30%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }


    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 40%;
        text-align: center;


        .action-btn {
            width: auto;
            height: auto;
            padding: 1rem 2rem;
            border: none;
            outline: none;
            border-radius: 25px;
            background-color: var(--secondary-color);
            color: var(--text-color);
            transition: all 0.3s ease-in;
            cursor: pointer;
            font-size: large;


            &:hover {
                background-color: var(--primary-color);
            }
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }


    .right {
        width: 30%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
