.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 20%;
    position: fixed;
    padding: 1.5rem 2rem;
    gap: 2rem;

    .content {
        width: 100%;
        height: 100%;


        .nav-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            transition: all 0.3s ease;

            li {
                display: flex;
                gap: 1rem;
                justify-content: flex-start;
                align-items: center;
                padding: 1rem;
                margin-bottom: 1rem;
                background-color: var(--shade);
                border-radius: 15px;
                cursor: pointer;
            }
        }
    }
}
