.mobile-topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12%;
    gap: 2rem;

    @media (min-width: 768px) {
        display: none;
    }

    .back-arrow {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;
        border-radius: 50%;
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0.5rem;
    }

    .current-page {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
