@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --text-color: rgb(80, 80, 80);
  --bg: rgb(250, 250, 250);
  --primary-color: rgba(21, 147, 230, 1);
  --secondary-color: rgba(21, 147, 230, 0.5);
  --secondary-color-hover: rgba(21, 147, 230, 0.8);
  --shade: rgb(230, 230, 230);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  color: var(--text-color);
  background-color: var(--bg);
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}



/** animations keyframs */
@keyframes dim {
  50% {
    filter: opacity(0.2);
  }
}


/*** system based theme  ***/
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(180, 180, 180);
    --bg: rgb(11, 11, 11);
    --primary-color: rgba(21, 147, 230, 1);
    --secondary-color: rgba(196, 148, 240, 0.2);
    --secondary-color-hover: rgba(196, 148, 240, 0.5);
    --shade: rgb(20, 20, 20);
  }
}
